<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="false">

    <display-name>JavaEE Handbook 7 JAX RS Basic</display-name>
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!--
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <mime-mapping>
        <extension>csv</extension>
        <mime-type>application/csv</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>pdf</extension>
        <mime-type>application/pdf</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/404.html</location>
    </error-page>


    <filter>
        <filter-name>MySimpleFilterLogger</filter-name>
        <filter-class>je7hb.servlets.simple.SimpleLoggingFilter</filter-class>
        <init-param>
            <param-name>fruit</param-name>
            <param-value>strawberry</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>MySimpleFilterLogger</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
</web-app>
